/* Reset completo */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Asegura que html y body ocupen toda la pantalla */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient( #23277D, #020617);
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}