/* You can add global styles to this file, and also import other style files */
nav {
    padding: 1%;
    background: #3845BA;
    
}
a {
    color: #ffff;
    padding: 1%;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

/* html{
    height: 100%;
    background: black;
} */
 /* Reset completo */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Asegura que html y body ocupen toda la pantalla */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient( #23277D, #020617);
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}